@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';


body {
    text-align: center;
    color: $primary
  }
  
  h2 {
    font-size: 2.7em;
  }

  h3 {
    font-size: 2em;
  }
  a {
    color: $primary;
    cursor: pointer;
  }
  header a.router-link-active {
    text-decoration: none;
  }

  nav {
    max-width: 1000px;
    margin: 5% auto;
    background-color: $secondary;
    padding: 0.5em;
    border-radius: 1em;
    font-size: larger;
  }

  .tags {
    display: inline-block;
    margin: 1em 1em 0 0;
    color: $primary;
    background-color: $secondary;
    padding: 0.5em;
    border-radius: 1em;
    font-size: larger;
  }

  .tag {
    display: inline-block;
    font-weight: bold;
    margin-left: 1.5em;
  }
  .tag a {
    color: $accent;
    text-decoration: none;
  }
  .tag a.router-link-active {
    color: $primary;
    text-decoration: none;
  }


  .post {
    border-bottom: 1px solid $secondary;
  }

  .home {
    max-width: 1000px;
    margin: 5% auto;
  }
